.navigation-container {
    background-color: #0f0f11;
    position: fixed;
    width: 6%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #1c1c1c;
}

.fa-twitter {
    color: #fff;
    font-size: 40px;
    margin-top: 80px;
}

.fa-home {
    color: #00ADff;
    font-size: 25px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 4px solid #00ADFF;

}

.profile {
    background-image: url(https://pbs.twimg.com/profile_images/1309240164514893829/x4pdNgj2_400x400.jpg);
    border: 1px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 25px;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    background-color: #0f0f11;
}