.search {
    background-color: #0f0f11;
    height: 50px;
    width: 80%;
    margin-left: 7.5%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}

#search {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    outline: none;   
    padding-left: 20px;
    padding-right: 10px;
}

.fa-search {
    color: #fff;
    font-size: 30px;
    padding-right: 20px;
    transform: rotate(90deg);
}

.fa-search:hover {
  cursor: pointer;
  color: #00ADFF;
}
.main {
    background-color: #0f0f11;
    width: 60%;
    height: 100%;
}