.trending {
    background-color: #657786;
    border: 2px solid #1c1c1c;
    height: 50%;
    width: 15%;
    margin-top: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.twitter-sidebar-container {
    background-color: #0f0f11;
    height: 100vh;
    width: 40%;
}

.trending-title {
    color: #F5F8FA;
    font-size: 20px;
    font-weight:bold;
    margin-right: 70px;
}

#trend {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 16px;
    color: #E1E8ED;
    padding-right: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
}

#trend:hover {
    background-color: #657789;
    font-weight: bold;
    color: #00ADFF;
}

#tren {
    display: flex;
    padding-left: 0px;
    flex-direction: column;
}